* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

#main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#container {
    width: 90%;
    border: 2px solid red;
    height: 100%;
    margin: auto;
}

.navbar {
    width: 100%;
    height: 100%;
    padding: 0px 0px 8px 0px;

}

.navbar .navbar-dark {
    display: flex;
    justify-content: space-between;
    background: #252B42;
    width: 100%;
    height: 58px;
    padding: 9px 0px 3px 0px;
}

.navbar .navbar-dark .contact {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.navbar .navbar-dark .contact .phoneNo,
.navbar .navbar-dark .contact .mail {
    display: flex;
    color: aliceblue;
    align-items: center;
    gap: 5px;
}

.navbar .navbar-dark .contact .phoneNo p,
.navbar .navbar-dark .contact .mail p {
    font-size: 12px;
    line-height: 24px;
}

.navbar .navbar-dark .offer,
.navbar .navbar-dark .social {
    display: flex;
    align-items: center;
}

.navbar .navbar-dark .offer h6 {
    color: white;
    font-size: 12px;
    line-height: 24px;
    width: 100%;
}

.navbar .navbar-dark .social {
    display: flex;
    color: white;
    gap: 10px;
    align-items: center;
}

.navbar .navbar-light {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 58px;
    padding: 0px 17px 0px 17px
}

.navbar .navbar-light .right-menu .menu-icon {
    display: none;
}

.navbar .navbar-light .right-menu .options {
    display: flex;
    justify-content: space-between;
}

.navbar .navbar-light .right-menu {
    flex-grow: 0.4;
}

.navbar .navbar-light .right-menu .options .menu ul {
    display: flex;
    gap: 60px;
}

.navbar .navbar-light .right-menu .options .menu ul li a {
    text-decoration: none;
    color: #737373;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    line-height: 24px;
}

.navbar .navbar-light .right-menu .options .login-signup ul {
    display: flex;
    gap: 30px;
}

.navbar .navbar-light .right-menu .options .login-signup ul li a {
    text-decoration: none;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 7px;
    color: #23A6F0;
    font-size: 14px;
    line-height: 24px;
}

.hero-section {
    width: 100%;
    height: 716px;
    border: 2px solid blue;
}


/* BREAKOUT POINTS */

@media (max-width:1500px) {}

@media (max-width:1200px) {
    .navbar .navbar-light .right-menu .menu-icon {
        display: block;
    }

    .navbar .navbar-light .right-menu .options {
        display: none;
    }

    .navbar .navbar-light .right-menu .options .menu {
        left: 0;
        width: 100%;
    }

    .navbar .navbar-light .right-menu .options.responsive {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
    }

    .navbar .navbar-light .right-menu .options .menu ul li {
        text-decoration: none;
        color: #737373;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 7px;
        font-size: 14px;
        line-height: 24px;
    }

    .navbar .navbar-light .right-menu .options .login-signup ul li {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 7px;
        color: #23A6F0;
        font-size: 14px;
        line-height: 24px;
    }

    .navbar .navbar-light .right-menu .options.responsive ul {
        flex-direction: column;
        padding:20px;
    }
    .navbar .navbar-light .right-menu {
        flex-grow: 0;
    }
    .navbar .navbar-light .right-menu .options .menu ul {
        gap: 20px;
    }
}

@media (max-width:867px) {
    .navbar .navbar-dark {
        flex-direction: column;
        height: auto;
        align-items: center;
    }


}

@media (max-width:500px) {
    .navbar .navbar-dark {
        display: none;
    }
}